@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-primary font-sans antialiased selection:bg-secondary/20 selection:text-primary;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/10 rounded-full hover:bg-secondary/30 transition-colors;
}

/* Smooth Transitions */
button, a, input, select, textarea {
  @apply transition-all duration-300 ease-out;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icon-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.ph-stripes {
  background: repeating-linear-gradient(-45deg, #f3f4f6, #f3f4f6 8px, #e5e7eb 8px, #e5e7eb 16px);
}
